* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav-container {
  position: sticky;
  top: 0;
  height: 56px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
  gap: 4px;
}

.nav-container-left {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #121212;
  font-weight: bold;
}

.logo-img {
  width: 32px;
  height: 32px;
}

.nav-container-right {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 480px) {
  .logo-title {
    display: none;
  }

  .nav-container-right {
    gap: 8px;
  }
}

nav {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 2px;
  gap: 4px;
  background: #f9f9f9;
  height: 36px;
}

a {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
  padding: 0 16px;
  font-weight: bold;
  line-height: 24px;
  color: #999999;
  text-decoration: none;
  height: 32px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  border-radius: 16px;
}

.a-active {
  /* 自动布局 */
  display: flex;
  flex-direction: row;

  background: #ffffff;
  color: #175cff;
}

.image-container-wrapper {
  margin: 16px 0;
}

.image-container {
  padding: 0 16px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.image-wrapper-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.image-item {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 4px;
  object-fit: cover;
  border: 1px solid #ddd;
  cursor: pointer;
}

.image-title {
}

.image-container-mobile {
  padding: 0 16px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.image-item-mobile {
  width: 100%;
  aspect-ratio: 9 / 16;
  border-radius: 4px;
  object-fit: contain;
  cursor: pointer;
}

.image-modal {
  position: fixed;
  inset: 0;

  z-index: 10;
}

.mask {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.image-modal-content {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image-modal-preview {
  max-width: 90%;
  max-height: 90%;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
