#content_right {
  display: none;
}

#content_left {
  width: 100% !important;
  columns: 2;
  gap: 160px;
}

.result-op {
  break-inside: avoid;
}

#rs_new {
  width: 100%;
}

#rs_new tbody {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

@media screen and (max-width: 1240px) {
  #content_left {
    columns: 1;
  }
}
