#searchform {
  left: 0;
  right: 0;
}
.main {
  min-width: initial !important;
}
#rhs {
  display: none;
}

#center_col {
  flex-grow: 1;
  margin-left: 100px;
}
.CvDJxb {
  min-width: initial !important;
}
#rso {
  width: 100% !important;
  columns: 2;
  gap: 20px;
}

.g,
.KIy09e {
  width: initial !important;
}

[jscontroller] {
  width: initial !important;
}

@media screen and (max-width: 1240px) {
  #rso {
    columns: 1 !important;
    margin-left: 0;
  }
  .MjjYud {
    max-width: 600px;
  }
}
