.dumi-default-sidebar {
  width: 240px !important;
}

/* www.zhangxinxu.com */
.silebar_inner.slide_list > ul + * {
  visibility: hidden;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  opacity: 0 !important;
  padding: 0 !important;
}

/* nextjs 官网 右侧导航  */
body > main > div.relative.mx-auto.max-w-screen-xl.px-4.py-10 > nav > div > div.relative > ul .font-medium {
  color: #3042ed;
  background-color: #fffaf2;
}

*::selection {
  background-color: #b8e8ff;
}

/* app.mokahr.com 简历全屏视图 */
.preview-wrapper-TebbN0DRAT div.pdf-resume {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
